<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button class="botao" routerLink="/"></button>
    <button mat-raised-button routerLink="/dashboard" id="marginSpacer" [disabled]="!auth.loggedIn">DASHBOARD</button>
    <button mat-raised-button routerLink="/unidades" id="spacer">LISTAR UNIDADES</button>
    <button mat-raised-button routerLink="/estatisticas" id="spacer">ESTATÍSTICAS</button>
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
    <button mat-raised-button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>