#spacer{
    margin-left: 1%;
}

#marginSpacer{
    margin-left: calc(43% - 335px);
    
}


.example-icon {
    padding: 0 14px;
}
.botao
{
background: url('aaa.png')  no-repeat;
margin-left: 7px;
margin-top: 3%;
width: 230px;  // coloca a largura do botao
height: 100px; // coloca a altura do botao
border: none;
}
.example-spacer {
    flex: 1 1 auto;
}
