<mat-card class="cardCentral" [class.mat-elevation-z8]="true">
        <div class="container">
                <br>
                <button mat-raised-button color="warn" routerLink="/unidades">LISTAR UNIDADES</button>
                <button mat-raised-button color="warn" routerLink="/estatisticas">ESTATÍSTICAS</button>
        </div>
        <br>
        <div class="stats">
                <mat-card class="card" [class.mat-elevation-z6]="true">
                        <mat-card-content>
                                <h4 style="text-align: center;"><b>CASOS CONFIRMADOS</b></h4>
                                <h2 style="text-align: center;">{{casos}}</h2>
                        </mat-card-content>
                </mat-card>
        </div>

        <div class="stats">
                <mat-card class="card" [class.mat-elevation-z6]="true">
                        <mat-card-content>
                                <h4 style="text-align: center;"><b>ATENDIMENTOS</b></h4>
                                <h2 style="text-align: center;">{{atendimentos}}</h2>
                        </mat-card-content>
                </mat-card>
        </div>
        <br>
        <br>
</mat-card>