#spacer{
    margin-top: 1%;
}

.container{
    width: 40vw;
    margin-left: calc(50% - 20vw);
    margin-top: 10em;
}
.cardCentral{
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
}
.container button {
    width: 45%;
    padding: 3% 7% 3% 7%;
    margin-left: 5%;
}

.stats{
    margin-top: 3vh;
    width: 45vw;
    margin-left: calc(50% - 22.5vw);
}