<div class="atendimento" style="text-align: center">
    <p><b>Editar atendimento</b></p>
    <br>
    <div>
      <mat-form-field class="input" appearance="fill">
        <mat-label>Nome: </mat-label>
        <input matInput [(ngModel)]="data.nome" required>
      </mat-form-field>
      <mat-form-field class="input" appearance="fill">
        <mat-label>Data: </mat-label>
        <input type="date" matInput [(ngModel)]="data.data" required>
      </mat-form-field>
    </div>
    <br>
    <mat-label>Endereço: </mat-label>
    <div>
      <br>
      <mat-form-field class="input" appearance="fill">
        <mat-label>Rua: </mat-label>
        <input matInput [(ngModel)]="data.endereco.rua" required>
      </mat-form-field>
      <mat-form-field class="input" appearance="fill">
        <mat-label>Bairro: </mat-label>
        <input matInput [(ngModel)]="data.endereco.bairro" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input" appearance="fill">
        <mat-label>Duração: </mat-label>
        <input type="number" matInput [(ngModel)]="data.duracao" required>
      </mat-form-field>
    </div>
    <mat-label>Exames: </mat-label>
    <div>
      <mat-checkbox [(ngModel)]="data.test1">Teste 1</mat-checkbox>
      <mat-checkbox [(ngModel)]="data.test2">Teste 2</mat-checkbox>
  
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="closeDialog()">No Thanks</button>
      <button mat-button
        [disabled]="!(data.nome && data.endereco.rua && data.endereco.bairro && data.data && data.duracao)"
        [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
    </div>