#tabelaAtendimentos{
    width: 100%;
    margin-top: 5%;
}

#capacidade{
    margin-top: .5em;
    width: 25vw;
    left: calc(50% - 12.5vw);
    height: 2vh;
}
.b{        
    margin: 0 auto;
}
.cardCentral{
    margin-left: 28%;
    margin-right: 28%;
    margin-top: 5%;
    margin-bottom: 5%;
}
google-chart {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    };