<h3 style="text-align:center" *ngIf="porcentagem">{{porcentagem| number : '1.0-0'}}%</h3>
<mat-progress-bar id="capacidade" mode="determinate" [value]="porcentagem" *ngIf="atendimentos && unidade">
</mat-progress-bar>
<p *ngIf="!(chartsPorDia.data.length>0) ">Nenhum paciente ainda</p>
<mat-tab-group mat-align-tabs="center">
  <div *ngIf="chartsPorDia.data.length>0">
    <mat-tab label="Casos nos ultimos 7 dias">
      <google-chart [title]="chartsPorDia.title" [type]="chartsPorDia.type" [data]="chartsPorDia.data"
        [columns]="chartsPorDia.columns" [options]="chartsPorDia.options">
      </google-chart>
    </mat-tab>
  </div>
  <mat-tab label="Sobre a unidade ">
    <mat-card class="cardCentral" [class.mat-elevation-z5]="true">
      <mat-card-content>
        <br>
        <h4 style="text-align: center;"><b>---INFORMAÇÕES---</b></h4>
        <h4 style="text-align: center;"><b>Nome:</b> {{unidade.nome}}</h4>
        <h4 style="text-align: center;"><b>Endereço:</b> {{unidade.endereco}}</h4>
        <h4 style="text-align: center;"><b>Atendimentos:</b> {{atendimentos.length}}</h4>
        <h4 style="text-align: center;"><b>Capacidade:</b> {{unidade.capacidade}}</h4>
        <h4 style="text-align: center;"><b>---TEMPO DE ATENDIMENTO---</b></h4>
        <h4 style="text-align: center;"><b>Minimo:</b> {{tempos.minimo}}</h4>
        <h4 style="text-align: center;"><b>Medio:</b> {{tempos.medio | number : '1.0-0'}}</h4>
        <h4 style="text-align: center;"><b>Maximo:</b> {{tempos.maximo}}</h4>

      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>