<header>
  <button mat-raised-button (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
  <button mat-raised-button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>

</header>