google-chart {
display: flex;
justify-content: center;
margin-left: auto;
margin-right: auto;

};

.cardCentral{
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
}