<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Casos totais">
    <mat-card class="cardCentral" [class.mat-elevation-z8]="true">
      <google-chart [title]="chartsTotal.title" [type]="chartsTotal.type" [data]="chartsTotal.data"
        [columns]="chartsTotal.columns" [options]="chartsTotal.options">
      </google-chart>
    </mat-card>
  </mat-tab>
  <mat-tab label="Por dia">
    <mat-card class="cardCentral" [class.mat-elevation-z8]="true">
      <google-chart [title]="chartsPorDia.title" [type]="chartsPorDia.type" [data]="chartsPorDia.data"
        [columns]="chartsPorDia.columns" [options]="chartsPorDia.options">
      </google-chart>
    </mat-card>
  </mat-tab>
  <mat-tab label="Por Bairro">
    <mat-card class="cardCentral" [class.mat-elevation-z8]="true">
      <google-chart [title]="chartsPorBairro.title" [type]="chartsPorBairro.type" [data]="chartsPorBairro.data"
        [columns]="chartsPorBairro.columns" [options]="chartsPorBairro.options">
      </google-chart>
    </mat-card>
  </mat-tab>
</mat-tab-group>