.cards-unidades{
    width: 25%;
    height: 5%;
    margin-top: 2%;
    margin-left: calc(50% - 12.5%);
    
}
#spinnerContainer{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#spinnerDiv{
    width: 100px;height: 100px;position: absolute;top: 0!important;left: 0;
}