<div class="container">
    <div class="cards-unidades" *ngFor="let u of unidades">
        <mat-card class="example-card" style="text-align: center" class="cardCentral" [class.mat-elevation-z8]="true">
            <mat-card-header>
                <mat-card-title>UNIDADE Nº: {{u.idUnidade}} </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>
                    Nome: {{u.nome}} <br>
                    Endereço: {{u.endereco}} <br>
                </p>


            </mat-card-content>
            <mat-card-actions>
                <button class="b" color="warn" mat-fab (click)="openDialog(u)  " style="margin-right:-70%;">
                    <mat-icon>assessment</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>