#tabelaAtendimentos{
    width: 35vw;
    margin-left: calc(50% - 17.5vw);
    margin-bottom: 8%;
}

#textCenter{
    text-align: center;
}
.etapas{
    margin-right: 30%;
    margin-left:30%;
justify-content: center;
}
.icon-display {
    transform: scale(0.8);
 }
.cardCentral{
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
    
}
#btnAdd{
    position: fixed;
    margin-left: 90%;
    z-index: 99999;
    margin-top: 25%;

}

.card{
margin-top: 20px;
display: flex;
justify-content: center;
margin-left: auto;
margin-right: auto;
width: 250px;

}

#capacidade{
    margin-top: 3em;
    width: 25vw;
    left: calc(50% - 12.5vw);
    height: 2vh;
}