<h4 *ngIf="cadastrado" id="textCenter">
  <mat-card class="card"><b>VOCÊ ESTÁ LOGADO NA UNIDADE DE NUMERO: {{unidade.idUnidade}}</b></mat-card>
</h4>
<h4 *ngIf="!Auth.loggedIn" id="textCenter">PRECISA LOGAR</h4>
<h4 *ngIf="!cadastrado && Auth.loggedIn" id="textCenter">
  <mat-card class="card"><b>PRECISA CADASTRAR</b></mat-card>
</h4>


<button id="btnAdd" mat-fab (click)="openDialog()" color="warn" *ngIf="cadastrado">
  <mat-icon>add</mat-icon>
</button>
<mat-progress-bar *ngIf="cadastrado" id="capacidade" mode="determinate" [value]="porcentagem"></mat-progress-bar>
<br>
<br>
<table mat-table [dataSource]="dadosDaUnidade" class="mat-elevation-z8" id="tabelaAtendimentos" *ngIf="cadastrado">
  <ng-container matColumnDef="idAtendimento">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let p"> {{p.idAtendimento}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let p"> {{p.nome}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Data </th>
    <td mat-cell *matCellDef="let p"> {{p.date | date}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="laudo">
    <th mat-header-cell *matHeaderCellDef> Laudo </th>
    <td mat-cell *matCellDef="let p"><input type="checkbox" [checked]="p.laudo" [disabled]="true"></td>
  </ng-container>

  <ng-container matColumnDef="editar">
    <th mat-header-cell *matHeaderCellDef> Editar </th>
    <td mat-cell *matCellDef="let p">
      <button class = "icon-display"  (click)="dialogEdit(p)" mat-mini-fab color="warn">
        <mat-icon class = "icon-display">edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
<mat-card *ngIf="!cadastrado" class="cardCentral" [class.mat-elevation-z8]="true">
  <mat-horizontal-stepper class="etapas" *ngIf="!cadastrado && Auth.loggedIn" [linear]="true" #stepper>
    <mat-step [stepControl]="cadastro">
      <form [formGroup]="cadastro">
        <ng-template matStepLabel>Nome</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Nome Completo" formControlName="nome" required>

        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="cadastro2">
      <form [formGroup]="cadastro2">
        <ng-template matStepLabel>Dados</ng-template>
        <p>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="endereço" placeholder="Ex. 1 Main St, New York, NY" required>

          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <mat-label>Capacidade</mat-label>
            <input matInput type="number" formControlName="capacidade" placeholder="Ex: 20" required>

          </mat-form-field>
        </p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Pronto</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="onSubmit(cadastro.value, cadastro2.value)">Submit</button>

      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
          Use of this source code is governed by an MIT-style license that
          can be found in the LICENSE file at http://angular.io/license -->